[submodule "clap"]
	path = clap
	url = https://github.com/free-audio/clap.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "clap-host"]
	path = clap-host
	url = https://github.com/free-audio/clap-host.git
