[submodule "clap"]
	path = libs/clap
	url = https://github.com/free-audio/clap.git
[submodule "googletest"]
	path = libs/googletest
	url = https://github.com/google/googletest.git
[submodule "clap-helpers"]
	path = libs/clap-helpers
	url = https://github.com/free-audio/clap-helpers.git
[submodule "boost-di"]
	path = libs/boost-di
	url = https://github.com/boost-ext/di.git
[submodule "kfr"]
	path = libs/kfr
	url = https://github.com/kfrlib/kfr.git
[submodule "vcpkg"]
	path = libs/vcpkg
	url = https://github.com/microsoft/vcpkg.git

[submodule "libs/brisk"]
	path = libs/brisk
	url = https://github.com/brisklib/brisk.git
